# Burst Variables Calculation 

- This notebook contains the calculation for the 11 rats (originally 18, 7 missing) from vk_cocaine_rats requested on 7/12.
- data comes from 3 separate excel workbook, each contains tabs as trial files of different days
- SHA 1-10, LGA 1-14
- Can be the example code for burst variables calculation

In [132]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from statistics import multimode
from statistics import mode
import itertools
import xlrd
from openpyxl import load_workbook
import re
import copy

## Tools

In [31]:
# helper functions
def get_mode(lst):
    if len(lst) == 0:
        return np.NaN
    return mode(lst)


def get_bursts(lst):
    interval = 120
    allBursts = []

    i = 0
    while i < len(lst):
        oneBurst = []
        limit = lst[i] + interval
        j = i
        while j < len(lst) and lst[j] <= limit:
            oneBurst.append(lst[j])
            j += 1
        allBursts.append(oneBurst)
        i = j
        
    return allBursts


def get_mean_num_rewards(lst):
    bursts = [i for i in lst if len(i) > 1]
    total_rewards = len(list(itertools.chain.from_iterable(bursts)))
    total_bursts = len(bursts)
    
    if total_bursts == 0: 
        return 0
    
    return round(total_rewards / total_bursts,2)


def get_burst_rewards_pct(lst):
    numRewards = len(list(itertools.chain.from_iterable(lst)))
    if numRewards == 0:
        return np.NaN
    bursts = [i for i in lst if len(i) > 1]
    numBurstRewards = len(list(itertools.chain.from_iterable(bursts)))
    return round(numBurstRewards/numRewards,2) * 100 


def get_max_burst(lst):
    bursts = [i for i in lst if len(i) > 1]
    if len(bursts) == 0:
        return 0
    return max([len(i) for i in bursts])

In [287]:
def one_calculation(file_name, sheet_name, rats):
    # read excel sheet
    df = pd.read_excel(file_name, sheet_name=sheet_name).T
    
    # reset header
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header

    # filter rows and columns
    rats = list(set(rats) & set(list(df.index))) # get the intersection
    df = df.loc[rats]
    col_reward = [col for col in df.columns if 'V' in col] # V for reward timestamp
    df = df[col_reward]

    # drop zeros
    df.replace(0, np.NaN, inplace=True)
    df.dropna(how='all', axis=1, inplace=True)
    df.replace(np.NaN, 0, inplace=True)
    df.reset_index(inplace=True)
    
    # group all rewards
    df['allRewards'] = df.iloc[:,1:].values.tolist()
    
    # get the filtered df
    dff = df[['index','allRewards']]
    
    # retrieve the inter-reward intervals, filtering out negatives
    dff['Intervals'] = dff['allRewards'].apply(lambda lst:[j-i for i, j in zip(lst[:-1], lst[1:])])
    dff['cleanedIntervals'] = dff['Intervals'].apply(lambda lst: [val for val in lst if val > 0])
    
    # calculate needed traits related to the inter-reward intervals
    dff['meanInterval'] = dff['cleanedIntervals'].apply(lambda x: round(np.mean(x), 2))
    dff['stdInterval'] = dff['cleanedIntervals'].apply(lambda x: round(np.std(x), 2))
    dff['modeInterval'] = dff['cleanedIntervals'].apply(get_mode)
    
    # filtering the rewards (zero values)
    dff['cleanedRewards'] = dff['allRewards'].apply(lambda lst: [val for val in lst if val > 0])
    dff['totalRewards'] = dff['cleanedRewards'].apply(lambda x: len(x))
    
    # retrieve the "bursts" (cluster of rewards happened within 2 mins) from rewards 
    dff['rawBurst'] = dff['cleanedRewards'].apply(get_bursts)
    dff['numBurst'] = dff['rawBurst'].apply(lambda x: len([i for i in x if len(i)>1]))
    
    # get the mean number of rewards across all the bursts
    dff['meanNumRewards'] = dff['rawBurst'].apply(get_mean_num_rewards)
    # get the percentage of rewards that fall in burst out of all the rewards
    dff['pctRewards'] = dff['rawBurst'].apply(get_burst_rewards_pct)
    # get the maximum number of rewards contain in a single burst in one session
    dff['maxBurst'] = dff['rawBurst'].apply(get_max_burst)
    
    # select needed columns for output df
    output_cols = ['index', 'meanInterval', 'stdInterval', 'modeInterval','meanNumRewards', 'numBurst', 'maxBurst', 'pctRewards']
    dff_out = dff[output_cols]
    
    # rename one column
    dff_out.rename(columns={"index": "subject"},inplace=True)
    
    # add trial id
    trial_id = re.findall(r'((?:SHA|LGA)[0-9]+)',sheet_name.upper())[0]
    dff_out['trial_id'] = [trial_id] * len(dff_out)
    
    return dff_out

In [289]:
# critical parameters
rats_C02 = ['M153','M154','M156','M174','M177']
rats_C03 = ['M352','M358']
rats_C04 = ['M453','M456','M461','M462']

wb_C02 = "C02GWASCocaine_allnonMEDPCsessions.xlsx"
wb_C03 = "C03GWASCocaine_allnonMEDPCsessions.xlsx"
wb_C04 = "C04GWASCocaine_allnonMEDPCsessions.xlsx"

In [290]:
# get all the sheetnames in one excel workbook
def get_sheetnames_xlsx(file_name):
    wb = load_workbook(file_name, read_only=True, keep_links=False)
    return wb.sheetnames

In [294]:
# Calculate for one cohort

def calculate(file_name, sheets, rats):
    # perform calculations
    calcs = []
    for sheet_name in sheets:
        print(sheet_name)
        calc = one_calculation(file_name, sheet_name, rats)
        calcs.append(calc)
    
    # combine to a raw dataframe which contains all the calculated rows
    df_raw_calcs = pd.concat(calcs, ignore_index=True)
    
    # process to get a dataframe which each row contains info for 1 subject
    rows = []
    subs = sorted([i for i in df_raw_calcs.subject.unique()])
    for s in subs:
        # filter out individual subject as a df
        temp = df_raw_calcs[df_raw_calcs['subject'] == s]
        temp = temp.reset_index(drop=True)
        temp.sort_values(['subject','trial_id'],inplace=True)

        # flatten the df into one row
        temp = temp.set_index('trial_id')
        temp_row = temp.iloc[:,1:].unstack().to_frame().sort_index(level=1).T
        temp_row.insert(loc=0, column='subject', value=temp.subject.unique())
        temp_row = temp_row.reset_index(drop=True)
        rows.append(temp_row)
        
    return pd.concat(rows,ignore_index=True)

## C02

In [303]:
# needed sheets
file_name = wb_C02
sheets_C02 = get_sheetnames_xlsx(file_name)
sheets_SHA_C02 = [s for s in sorted(sheets_C02) if ('SHA' in s) and (int(s[8:10]) in range(1,11))]
sheets_LGA_C02 = [s for s in sorted(sheets_C02) if ('LGA' in s) and (int(s[8:10]) in range(1,15))]

In [304]:
# SHA 1-10
rats = copy.deepcopy(rats_C02)
sheets = sheets_SHA_C02
df_SHA_C02 = calculate(file_name, sheets, rats)
df_SHA_C02

C02HSSHA01-20171017.xlsx
C02HSSHA02-20171018.xlsx
C02HSSHA03-20171019.xlsx
C02HSSHA04-20171020.xlsx
C02HSSHA05-20171023.xlsx
C02HSSHA06-20171024.xlsx
C02HSSHA07-20171025.xlsx
C02HSSHA08-20171026.xlsx
C02HSSHA09-20171027.xlsx
C02HSSHA10-20171030.xlsx

AID      maxBurst                                                        ...  \
trial_id    SHA01 SHA02 SHA03 SHA04 SHA05 SHA06 SHA07 SHA08 SHA09 SHA10  ...
0             0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   0.0   2.0  ...
1             0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   0.0   0.0  ...
2             0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   0.0   2.0  ...
3             2.0   2.0   2.0   2.0   2.0   3.0   0.0   2.0   2.0   0.0  ...
4             0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

AID      stdInterval                                                    \
trial_id       SHA02   SHA03   SHA04   SHA05    SHA06   SHA07    SHA08
0                NaN     NaN     NaN     NaN      NaN     NaN     0.00
1                NaN     NaN     NaN     NaN      NaN     NaN      NaN
2               0.00     NaN     NaN     NaN     0.00  240.89     0.00
3            1104.67  599.46  1696.2  705.27  1429.72     NaN  1606.03
4               0.00     NaN     NaN    0.00      NaN     NaN      NaN

AID                       subject
trial_id    SHA09   SHA10
0             NaN    0.00    M153
1             NaN    0.00    M154
2         1052.06  722.02    M156
3            0.00  923.31    M174
4             NaN     NaN    M177

[5 rows x 71 columns]

In [305]:
# LGA 1-14
rats = copy.deepcopy(rats_C02)
sheets = sheets_LGA_C02
df_LGA_C02 = calculate(file_name, sheets, rats)
df_LGA_C02

C02HSLGA01-20171101.xlsx
C02HSLGA02-20171102.xlsx
C02HSLGA03-20171103.xlsx
C02HSLGA04-20171106.xlsx
C02HSLGA05-20171107.xlsx
C02HSLGA06-20171108.xlsx
C02HSLGA07-20171109.xlsx
C02HSLGA08-20171110.xlsx
C02HSLGA09-20171113.xlsx
C02HSLGA10-20171114.xlsx
C02HSLGA11-20171115.xlsx
C02HSLGA12-20171116.xlsx
C02HSLGA13-20171117.xlsx
C02HSLGA14-20171120.xlsx

AID      maxBurst                                                        ...  \
trial_id    LGA01 LGA02 LGA03 LGA04 LGA05 LGA06 LGA07 LGA08 LGA09 LGA10  ...
0             0.0   2.0   2.0   2.0   0.0   2.0   2.0   4.0   4.0   3.0  ...
1             2.0   4.0   2.0   3.0   3.0   3.0   3.0   5.0   3.0   4.0  ...
2             2.0   0.0   2.0   2.0   2.0   2.0   2.0   2.0   2.0   2.0  ...
3             3.0   2.0   3.0   3.0   6.0   NaN   6.0   5.0   4.0   5.0  ...
4             0.0   0.0   0.0   0.0   0.0   NaN   0.0   0.0   0.0   0.0  ...

AID      stdInterval                                                    \
trial_id       LGA06    LGA07    LGA08   LGA09   LGA10   LGA11   LGA12
0            2345.54  1763.97   569.74  198.54  146.49   79.04  107.85
1              63.13    74.86    64.93   71.01   75.26   74.33   53.40
2            1458.47  2341.98  2386.54  204.17  364.21  614.50  477.53
3                NaN   122.27   112.94  101.64  100.52   79.39   72.83
4                NaN      NaN      NaN     NaN     NaN     NaN     NaN

AID                     subject
trial_id   LGA13  LGA14
0          99.08  89.11    M153
1          66.28  50.77    M154
2         691.97  80.36    M156
3          83.26  91.07    M174
4            NaN    NaN    M177

[5 rows x 99 columns]

## C03

In [309]:
# needed sheets
file_name = wb_C03
sheets_C03 = get_sheetnames_xlsx(file_name)
sheets_SHA_C03 = [s for s in sorted(sheets_C03) if ('SHA' in s) and (int(s[8:10]) in range(1,11))]
sheets_LGA_C03 = [s for s in sorted(sheets_C03) if ('LGA' in s) and (int(s[8:10]) in range(1,15))]

In [310]:
# SHA 1-10
rats = copy.deepcopy(rats_C03)
sheets = sheets_SHA_C03

df_SHA_C03 = calculate(file_name, sheets, rats)
df_SHA_C03

C03HSSHA01-20180205.xlsx
C03HSSHA02-20180206.xlsx
C03HSSHA03-20180207.xlsx
C03HSSHA04-20180208.xlsx
C03HSSHA05-20180209.xlsx
C03HSSHA06-20180212.xlsx
C03HSSHA07-20180213.xlsx
C03HSSHA08-20180214.xlsx
C03HSSHA09-20180215.xlsx
C03HSSHA10-20180216.xlsx

AID      maxBurst                                                        ...  \
trial_id    SHA01 SHA02 SHA03 SHA04 SHA05 SHA06 SHA07 SHA08 SHA09 SHA10  ...
0             2.0   2.0   0.0   2.0   0.0   3.0   3.0   2.0   2.0   2.0  ...
1             0.0   0.0   0.0   0.0   0.0   0.0   0.0   2.0   NaN   0.0  ...

AID      stdInterval                                                       \
trial_id       SHA02 SHA03    SHA04 SHA05   SHA06   SHA07   SHA08   SHA09
0             445.73   0.0  2247.16   NaN  667.91  762.37  446.99  406.99
1               0.00   0.0      NaN   0.0     NaN     NaN    0.00     NaN

AID              subject
trial_id   SHA10
0         220.35    M352
1            NaN    M358

[2 rows x 71 columns]

In [311]:
# LGA 1-14
rats = copy.deepcopy(rats_C03)
sheets = sheets_LGA_C03
df_LGA_C03 = calculate(file_name, sheets, rats)
df_LGA_C03

C03HSLGA01-20180221.xlsx
C03HSLGA02-20180222.xlsx
C03HSLGA03-20180223.xlsx
C03HSLGA04-20180226.xlsx
C03HSLGA05-20180227.xlsx
C03HSLGA06-20180228.xlsx
C03HSLGA07-20180301.xlsx
C03HSLGA08-20180302.xlsx
C03HSLGA09-20180305.xlsx
C03HSLGA10-20180306.xlsx
C03HSLGA11-20180307.xlsx
C03HSLGA12-20180308.xlsx
C03HSLGA13-20180309.xlsx
C03HSLGA14-20180312.xlsx

AID,subject,maxBurst,meanInterval,meanNumRewards,modeInterval,numBurst,pctRewards,stdInterval,maxBurst,meanInterval,...,numBurst,pctRewards,stdInterval,maxBurst,meanInterval,meanNumRewards,modeInterval,numBurst,pctRewards,stdInterval
trial_id,,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,LGA02,LGA02,...,LGA13,LGA13,LGA13,LGA14,LGA14,LGA14,LGA14,LGA14,LGA14,LGA14
0,M352,3.0,318.26,2.2,44.23,15.0,49.0,271.21,3.0,345.02,...,11.0,21.0,66.95,4.0,213.49,2.36,27.7,14.0,32.0,115.70
1,M358,2.0,2256.78,2.0,21.71,2.0,50.0,2150.49,3.0,1537.37,...,6.0,27.0,85.68,4.0,236.20,2.33,29.1,6.0,15.0,94.78

## C04

In [312]:
# needed sheets
file_name = wb_C04
sheets_C04 = get_sheetnames_xlsx(file_name)
sheets_SHA_C04 = [s for s in sorted(sheets_C04) if ('SHA' in s) and (int(s[8:10]) in range(1,11))]
sheets_LGA_C04 = [s for s in sorted(sheets_C04) if ('LGA' in s) and (int(s[8:10]) in range(1,15))]

In [313]:
# SHA 1-10
rats = copy.deepcopy(rats_C04)
sheets = sheets_SHA_C04

df_SHA_C04 = calculate(file_name, sheets, rats)
df_SHA_C04

C04HSSHA01-20180416
C04HSSHA02-20180417
C04HSSHA03-20180418
C04HSSHA04-20180419
C04HSSHA05-20180420
C04HSSHA06-20180423
C04HSSHA07-20180424
C04HSSHA08-20180425
C04HSSHA09-20180426
C04HSSHA10-20180427

ID       maxBurst                                                        ...  \
trial_id    SHA01 SHA02 SHA03 SHA04 SHA05 SHA06 SHA07 SHA08 SHA09 SHA10  ...
0             0.0   0.0   0.0   0.0   0.0   0.0   0.0   2.0   2.0   0.0  ...
1             0.0   2.0   3.0   2.0   2.0   4.0   3.0   3.0   2.0   2.0  ...
2             0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
3             0.0   0.0   NaN   0.0   2.0   NaN   0.0   0.0   2.0   NaN  ...

ID       stdInterval                                                   \
trial_id       SHA02   SHA03   SHA04   SHA05   SHA06   SHA07    SHA08
0                NaN     NaN     NaN     NaN     NaN     NaN  1038.55
1              543.6  297.92  192.35  442.02  537.04  488.50   566.02
2                0.0     NaN    0.00     NaN     NaN    0.00      NaN
3                0.0     NaN  300.71    0.00     NaN  284.62   377.87

ID                         subject
trial_id    SHA09    SHA10
0          321.54  1826.34    M453
1          261.58   170.89    M456
2         1395.36     0.00    M461
3          381.68      NaN    M462

[4 rows x 71 columns]

In [314]:
# LGA 1-14
rats = copy.deepcopy(rats_C04)
sheets = sheets_LGA_C04
df_LGA_C04 = calculate(file_name, sheets, rats)
df_LGA_C04

C04HSLGA01-20180501
C04HSLGA02-20180502
C04HSLGA03-20180503
C04HSLGA04-20180504
C04HSLGA05-20180507
C04HSLGA06-20180508
C04HSLGA07-20180509
C04HSLGA08-20180510
C04HSLGA09-20180511
C04HSLGA10-20180514
C04HSLGA11-20180515
C04HSLGA12-20180516
C04HSLGA13-20180517
C04HSLGA14-20180518

         maxBurst                                                        ...  \
trial_id    LGA01 LGA02 LGA03 LGA04 LGA05 LGA06 LGA07 LGA08 LGA09 LGA10  ...
0             3.0   2.0   6.0   6.0   6.0   4.0   3.0   4.0   5.0   5.0  ...
1             4.0   4.0   5.0   5.0   2.0   6.0   5.0   4.0   4.0   3.0  ...
2             0.0   0.0   0.0   2.0   2.0   2.0   0.0   0.0   0.0   3.0  ...

         stdInterval                                                          \
trial_id       LGA06   LGA07   LGA08    LGA09   LGA10   LGA11  LGA12   LGA13
0             888.89   78.08   69.46   106.19   91.77   94.01  83.51   81.54
1             135.81  414.55  953.39  1475.70   89.16   86.35    NaN   80.21
2            7655.04     NaN    0.00     0.00  174.65  494.34    NaN  877.72

                  subject
trial_id    LGA14
0           84.33    M453
1           83.91    M456
2         1099.47    M461

[3 rows x 99 columns]

## Combination

In [256]:
dfs_SHA = [df_SHA_C02,df_SHA_C03,df_SHA_C04]
df_SHA = pd.concat(dfs_SHA,ignore_index=True)
df_SHA.columns = [col[0] + '_' + col[1] if len(col[1]) > 0 else col[0] for col in df_SHA.columns]
ordered_cols = ['subject','maxBurst_SHA01', 'maxBurst_SHA02', 'maxBurst_SHA03', 'maxBurst_SHA04',
               'maxBurst_SHA05', 'maxBurst_SHA06', 'maxBurst_SHA07', 'maxBurst_SHA08',
               'maxBurst_SHA09', 'maxBurst_SHA10', 'meanInterval_SHA01',
               'meanInterval_SHA02', 'meanInterval_SHA03', 'meanInterval_SHA04',
               'meanInterval_SHA05', 'meanInterval_SHA06', 'meanInterval_SHA07',
               'meanInterval_SHA08', 'meanInterval_SHA09', 'meanInterval_SHA10',
               'meanNumRewards_SHA01', 'meanNumRewards_SHA02', 'meanNumRewards_SHA03',
               'meanNumRewards_SHA04', 'meanNumRewards_SHA05', 'meanNumRewards_SHA06',
               'meanNumRewards_SHA07', 'meanNumRewards_SHA08', 'meanNumRewards_SHA09',
               'meanNumRewards_SHA10', 'modeInterval_SHA01', 'modeInterval_SHA02',
               'modeInterval_SHA03', 'modeInterval_SHA04', 'modeInterval_SHA05',
               'modeInterval_SHA06', 'modeInterval_SHA07', 'modeInterval_SHA08',
               'modeInterval_SHA09', 'modeInterval_SHA10', 'numBurst_SHA01',
               'numBurst_SHA02', 'numBurst_SHA03', 'numBurst_SHA04', 'numBurst_SHA05',
               'numBurst_SHA06', 'numBurst_SHA07', 'numBurst_SHA08', 'numBurst_SHA09',
               'numBurst_SHA10', 'pctRewards_SHA01', 'pctRewards_SHA02',
               'pctRewards_SHA03', 'pctRewards_SHA04', 'pctRewards_SHA05',
               'pctRewards_SHA06', 'pctRewards_SHA07', 'pctRewards_SHA08',
               'pctRewards_SHA09', 'pctRewards_SHA10', 'stdInterval_SHA01',
               'stdInterval_SHA02', 'stdInterval_SHA03', 'stdInterval_SHA04',
               'stdInterval_SHA05', 'stdInterval_SHA06', 'stdInterval_SHA07',
               'stdInterval_SHA08', 'stdInterval_SHA09', 'stdInterval_SHA10']
df_SHA = df_SHA[ordered_cols]
df_SHA.to_excel('vk_cocaine_SHA_calculations.xlsx')
df_SHA

,subject,maxBurst_SHA01,maxBurst_SHA02,maxBurst_SHA03,maxBurst_SHA04,maxBurst_SHA05,maxBurst_SHA06,maxBurst_SHA07,maxBurst_SHA08,maxBurst_SHA09,...,stdInterval_SHA01,stdInterval_SHA02,stdInterval_SHA03,stdInterval_SHA04,stdInterval_SHA05,stdInterval_SHA06,stdInterval_SHA07,stdInterval_SHA08,stdInterval_SHA09,stdInterval_SHA10
0,M153,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00
1,M154,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,M156,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,NaN,0.00,NaN,NaN,NaN,0.00,240.89,0.00,1052.06,722.02
3,M174,2.0,2.0,2.0,2.0,2.0,3.0,0.0,2.0,2.0,...,636.04,1104.67,599.46,1696.20,705.27,1429.72,NaN,1606.03,0.00,923.31
4,M177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,892.46,0.00,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
5,M352,2.0,2.0,0.0,2.0,0.0,3.0,3.0,2.0,2.0,...,658.91,445.73,0.00,2247.16,NaN,667.91,762.37,446.99,406.99,220.35
6,M358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN,...,721.04,0.00,0.00,NaN,0.00,NaN,NaN,0.00,NaN,NaN
7,M453,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1038.55,321.54,1826.34
8,M456,0.0,2.0,3.0,2.0,2.0,4.0,3.0,3.0,2.0,...,1253.95,543.60,297.92,192.35,442.02,537.04,488.50,566.02,261.58,170.89
9,M461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,NaN,0.00,NaN,NaN,0.00,NaN,1395.36,0.00
10,M462,0.0,0.0,NaN,0.0,2.0,NaN,0.0,0.0,2.0,...,NaN,0.00,NaN,300.71,0.00,NaN,284.62,377.87,381.68,NaN

In [322]:
dfs_LGA = [df_LGA_C02,df_LGA_C03,df_LGA_C04]
df_LGA = pd.concat(dfs_LGA,ignore_index=True)
df_LGA.columns = [col[0] + '_' + col[1] if len(col[1]) > 0 else col[0] for col in df_LGA.columns]
ordered_cols = ['subject', 'maxBurst_LGA01', 'maxBurst_LGA02', 'maxBurst_LGA03', 'maxBurst_LGA04', 'maxBurst_LGA05', 
                'maxBurst_LGA06', 'maxBurst_LGA07', 'maxBurst_LGA08', 'maxBurst_LGA09', 'maxBurst_LGA10', 
                'maxBurst_LGA11', 'maxBurst_LGA12', 'maxBurst_LGA13', 'maxBurst_LGA14', 'meanInterval_LGA01', 
                'meanInterval_LGA02', 'meanInterval_LGA03', 'meanInterval_LGA04', 'meanInterval_LGA05', 
                'meanInterval_LGA06', 'meanInterval_LGA07', 'meanInterval_LGA08', 'meanInterval_LGA09', 
                'meanInterval_LGA10', 'meanInterval_LGA11', 'meanInterval_LGA12', 'meanInterval_LGA13', 
                'meanInterval_LGA14', 'meanNumRewards_LGA01', 'meanNumRewards_LGA02', 'meanNumRewards_LGA03', 
                'meanNumRewards_LGA04', 'meanNumRewards_LGA05', 'meanNumRewards_LGA06', 'meanNumRewards_LGA07', 
                'meanNumRewards_LGA08', 'meanNumRewards_LGA09', 'meanNumRewards_LGA10', 'meanNumRewards_LGA11', 
                'meanNumRewards_LGA12', 'meanNumRewards_LGA13', 'meanNumRewards_LGA14', 'modeInterval_LGA01', 
                'modeInterval_LGA02', 'modeInterval_LGA03', 'modeInterval_LGA04', 'modeInterval_LGA05', 
                'modeInterval_LGA06', 'modeInterval_LGA07', 'modeInterval_LGA08', 'modeInterval_LGA09', 
                'modeInterval_LGA10', 'modeInterval_LGA11', 'modeInterval_LGA12', 'modeInterval_LGA13', 
                'modeInterval_LGA14', 'numBurst_LGA01', 'numBurst_LGA02', 'numBurst_LGA03', 'numBurst_LGA04', 
                'numBurst_LGA05', 'numBurst_LGA06', 'numBurst_LGA07', 'numBurst_LGA08', 'numBurst_LGA09', 
                'numBurst_LGA10', 'numBurst_LGA11', 'numBurst_LGA12', 'numBurst_LGA13', 'numBurst_LGA14', 
                'pctRewards_LGA01', 'pctRewards_LGA02', 'pctRewards_LGA03', 'pctRewards_LGA04', 'pctRewards_LGA05', 
                'pctRewards_LGA06', 'pctRewards_LGA07', 'pctRewards_LGA08', 'pctRewards_LGA09', 'pctRewards_LGA10', 
                'pctRewards_LGA11', 'pctRewards_LGA12', 'pctRewards_LGA13', 'pctRewards_LGA14', 'stdInterval_LGA01', 
                'stdInterval_LGA02', 'stdInterval_LGA03', 'stdInterval_LGA04', 'stdInterval_LGA05', 
                'stdInterval_LGA06', 'stdInterval_LGA07', 'stdInterval_LGA08', 'stdInterval_LGA09', 
                'stdInterval_LGA10', 'stdInterval_LGA11', 'stdInterval_LGA12', 'stdInterval_LGA13', 
                'stdInterval_LGA14']
df_LGA = df_LGA[ordered_cols]
df_LGA.to_excel('vk_cocaine_LGA_calculations.xlsx')
df_LGA

,subject,maxBurst_LGA01,maxBurst_LGA02,maxBurst_LGA03,maxBurst_LGA04,maxBurst_LGA05,maxBurst_LGA06,maxBurst_LGA07,maxBurst_LGA08,maxBurst_LGA09,...,stdInterval_LGA05,stdInterval_LGA06,stdInterval_LGA07,stdInterval_LGA08,stdInterval_LGA09,stdInterval_LGA10,stdInterval_LGA11,stdInterval_LGA12,stdInterval_LGA13,stdInterval_LGA14
0,M153,0.0,2.0,2.0,2.0,0.0,2.0,2.0,4.0,4.0,...,946.99,2345.54,1763.97,569.74,198.54,146.49,79.04,107.85,99.08,89.11
1,M154,2.0,4.0,2.0,3.0,3.0,3.0,3.0,5.0,3.0,...,92.31,63.13,74.86,64.93,71.01,75.26,74.33,53.40,66.28,50.77
2,M156,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,1785.98,1458.47,2341.98,2386.54,204.17,364.21,614.50,477.53,691.97,80.36
3,M174,3.0,2.0,3.0,3.0,6.0,NaN,6.0,5.0,4.0,...,245.98,NaN,122.27,112.94,101.64,100.52,79.39,72.83,83.26,91.07
4,M177,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,M352,3.0,3.0,2.0,3.0,4.0,3.0,4.0,3.0,3.0,...,126.32,80.86,114.02,102.00,105.08,116.14,67.67,90.95,66.95,115.70
6,M358,2.0,3.0,2.0,4.0,4.0,2.0,3.0,2.0,3.0,...,619.25,2723.37,1957.54,1011.18,87.68,78.29,80.61,83.38,85.68,94.78
7,M453,3.0,2.0,6.0,6.0,6.0,4.0,3.0,4.0,5.0,...,209.22,888.89,78.08,69.46,106.19,91.77,94.01,83.51,81.54,84.33
8,M456,4.0,4.0,5.0,5.0,2.0,6.0,5.0,4.0,4.0,...,70.63,135.81,414.55,953.39,1475.70,89.16,86.35,NaN,80.21,83.91
9,M461,0.0,0.0,0.0,2.0,2.0,2.0,0.0,0.0,0.0,...,2571.98,7655.04,NaN,0.00,0.00,174.65,494.34,NaN,877.72,1099.47